:root {
  --accent-color: #2196f3;
  --logo-web-color: #2196f3;
  --logo-studio-dark-color: #000000;
  --logo-studio-light-color: #ffffff;
  --text-color: #212121;
  --list-button-color: #f5f4fa;
  --list-button-hover: #2196f3;
  --text-color-light: #757575;
  --main-background: #ffffff;
  --secondary-background: #2f303a;
  --border-color: #eeeeee;
  --main-icon: #afb1b8;
  --secondary-icon: #ffffff;

  //animation
  --main-anim: cubic-bezier(0.4, 0, 0.2, 1);
}
