.hero__btn,
.modal__btn,
.footer__btn {
  @extend %btn-primary;

  &:hover,
  &:focus {
    background: #188ce8;
    cursor: pointer;
  }
}

.portfolio__projects-btn {
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-color);
  background-color: var(--list-button-color);
  border: 1px solid transparent;

  transition: color 250ms var(--main-anim), background-color 250ms var(--main-anim),
    box-shadow 250ms var(--main-anim);

  &:hover,
  &:focus {
    cursor: pointer;
    color: var(--main-background);
    background-color: var(--list-button-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
