.mobile__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 15px;
}
.menu__button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:active {
    fill: var(--accent-color);
  }

  &.is-open {
    z-index: 99999;
  }
}

.menu__button .icon-cross {
  display: none;
}

.menu__button.is-open .icon-cross {
  display: block;
}

.menu__button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  position: fixed;
  padding: 48px 40px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 40px, 48px;
  z-index: 9999;
  &.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.mobile__menu-nav,
.mobile__menu-socials,
.mobile__menu-contacts {
  list-style-type: none;
}

.mobile__menu-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.42;
  letter-spacing: 0.02em;
}

.mobile__menu-send {
  margin-top: 32px;
  margin-bottom: 64px;

  font-weight: 500;
  font-size: 24px;

  color: #757575;
}

.mobile__menu-social {
  display: flex;

  .mobile__menu-link {
    color: var(--accent-color);
    font-size: 12px;
    @include mq(mobile) {
      font-size: 18px;
    }
  }
}
.mobile__menu-nav .mobile__menu-link {
  color: rgba(33, 33, 33, 1);

  &--active {
    color: var(--accent-color);
  }
}

.mobile__menu-socials:not(:last-child) {
  margin-right: 20px;
  position: relative;
}

.mobile__menu-socials:not(:last-child)::after {
  position: absolute;
  content: "";
  display: inline-block;
  top: 0;
  right: -10px;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
}

.mobile__menu-number {
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 0.02em;

  color: var(--accent-color);
  @include mq(mobile) {
    font-size: 34px;
  }
}

.mobile__container {
  display: none;
  @include mq(mobile-only) {
    display: flex;
  }
}
