html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  background-color: var(--main-background);
}

.scroll-hidden {
  overflow: hidden;
  height: 100vh;
}
