.benefits__title--hidden,
.project__title--hidden {
  visibility: hidden;
  position: absolute;
}

.benefits__logo {
  @include mq(mobile-only) {
    width: 100%;
    .benefits__logo:not(first-child) {
      margin-top: 30px;
    }
  }

  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.benefits__list {
  @include mq(desktop) {
    display: flex;
    flex-wrap: wrap;
  }
}
.benefits__item {
  @include mq(desktop) {
    width: 270px;
    height: 120px;

    & + & {
      margin-left: 30px;
    }
  }
}

.benefits__subtitle {
  @include mq(mobile-only) {
    text-align: center;
  }

  margin: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color-light);
}
