.clients__title {
  @include mq(mobile-only) {
    margin-bottom: 30px;
  }
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  @include mq(mobile-only) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @include mq(tablet) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.clients__item {
  width: calc((100% - 30px) / 2);

  @include mq(tablet) {
    width: calc((100% - 60px) / 3);
  }
  @include mq(desktop) {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;

  height: 92px;
  justify-content: center;
  align-items: center;
  fill: var(--main-icon);

  border: 1px solid var(--main-icon);
  border-radius: 4px;
  transition: border 250ms var(--main-anim), fill 250ms var(--main-anim);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  &:hover {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
  }
}

@include mq(mobile-only) {
  .clients__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  // .clients__item {
  //   margin-top: 30px;
  // }
}
@include mq(tablet-only) {
  .clients__item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

.clients__item:nth-child(-n + 2) {
  margin-bottom: 30px;
}
@include mq(desktop) {
  .clients__item + .clients__item {
    margin-left: 30px;
  }
}
