.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}
.clients__list {
  display: flex;
}
.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: var(--main-icon);

  border: 1px solid var(--main-icon);
  border-radius: 4px;
  transition: border 250ms var(--main-anim), fill 250ms var(--main-anim);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  &:hover {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
  }
}

.clients__item + .clients__item {
  margin-left: 30px;
}
