.header {
  border-bottom: 1px solid var(--border-color);

  &__list {
    margin-left: 93px;
    display: flex;
  }

  /* main navigation */
  .main__nav {
    display: flex;
  }

  &__nav {
    display: flex;
    align-items: center;
  }
  /* menu */
  &__list .header__item + .header__item {
    margin-left: 40px;
  }

  /* header__contact */
  &__contact {
    display: flex;
    margin-left: auto;
  }

  &__contact .header__contact-item + .header__contact-item {
    margin-left: 50px;
  }

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms var(--main-anim);
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }

  &__link--active {
    position: relative;
    color: var(--accent-color);
  }

  &__link--active::after {
    content: '';
    position: absolute;

    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }

  &__contact-number {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--text-color-light);

    transition: color 250ms var(--main-anim);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__contact-mail {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--text-color-light);
    transition: color 250ms var(--main-anim);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  /*header contact icon*/
  &__contact-icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
