.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  @include mq(not-desktop) {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  @include mq(tablet-only) {
    height: auto;
  }

  //фон для мобільної версіі

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header/background_image_sm.jpg);

  background-color: #c4c4c4;

  //фон для мобільної версіі ретіна 2х

  @include mq(retina) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header/background_image_sm@2x.jpg);
    background-color: #c4c4c4;
  }

  //фон для таблет версіі

  @include mq(tablet) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header/background_image_md.jpg);
    background-color: #c4c4c4;

    //фон для таблет версіі ретіна 2х
    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/header/background_image_md@2x.jpg);
      background-color: #c4c4c4;
    }
  }

  //фон для десктоп версіі

  @include mq(desktop) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header/background_image_lg.jpg);
    background-color: #c4c4c4;

    //фон для десктоп версіі ретіна 2х
    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/header/background_image_lg@2x.jpg);
      background-color: #c4c4c4;
    }
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__tite {
    @include mq(mobile) {
      font-size: 26px;
      line-height: 1.65;
    }
    @include mq(desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
    margin: 0;
    margin-bottom: 30px;

    color: var(--main-background);
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
