.portfolio__projects-list {
  margin-bottom: 50px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;

  @include mq(mobile-only) {
    display: block;
  }
}

.portfolio__projects-list {
  @include mq(mobile-only) {
    flex-wrap: wrap;
    justify-content: left;
  }

  display: flex;
  justify-content: center;
}

.portfolio__projects-item:not(:last-child) {
  margin-right: 8px;
}

@include mq(mobile-only) {
  .portfolio__projects-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}
.portfolio__desc-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}

.portfolio__link {
  width: 100%;
  display: block;
  transition: box-shadow 250ms var(--main-anim);
}

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__desc {
  padding: 20px 24px;

  background-color: var(--main-background);
  border: 1px solid var(--border-color);
  border-top: 0;
}

.portfolio__desc-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--text-color-light);
}

.portfolio__link:hover .overlay-card__content {
  transform: translateY(-100%);
}

.overlay-card {
  @include mq(mobile-only) {
    max-width: 450px;
    width: 100%;
  }

  position: relative;
  overflow: hidden;

  .overlay-card__img {
    width: 100%;
  }
}

.overlay-card__content {
  height: 100%;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform 250ms var(--main-anim);
}

.overlay-card__text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-background);
}

.portfolio__item {
  @include mq(mobile-only) {
    width: 100%;
    margin-bottom: 30px;
  }

  @include mq(tablet) {
    width: calc((100% - 30px) / 2);

    margin-bottom: 30px;
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @include mq(desktop) {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}
