.portfolio__projects-list {
    margin-bottom: 50px;
  }
  
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .portfolio__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  
  .portfolio__item:nth-child(3n) {
    margin-right: 0;
  }
  
  .portfolio__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }