.team__title {
  @include mq(mobile) {
    margin-bottom: 30px;
  }

  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  @include mq(desktop) {
    margin-bottom: 50px;
  }
}

.team__img {
  @include mq(tablet-only) {
    width: 354px;
  }
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;

  &-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &-career {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--text-color-light);
  }
}
.team__img {
  @include mq(mobile-only) {
    width: auto;
  }
}
.team__list {
  @include mq(mobile) {
    display: block;
  }
  @include mq(tablet-only) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include mq(desktop) {
    display: flex;
    flex-wrap: wrap;
    & .team__item + .team__item {
      margin-left: 30px;
    }
  }
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;

  &__item {
    @include mq(mobile-only) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @include mq(tablet-only) {
      &:nth-child(-n + 2) {
        margin-bottom: 30px;
      }
    }
    background-color: var(--main-background);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}
